.header {
    min-height: 88px;
    background: #1C1C21;
    margin: auto;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-items: flex-start;
    margin: auto;
    max-width: 1240px;
}

.headerMenu {
    composes: headerContainer;
    min-height: 0;
    width: auto;
    margin: 0;
}

.headerMenuItem {
    composes: headerContainer;
    min-height: 0;
    justify-content: flex-start;
    align-items: center;
    margin-right: 48px;
    justify-self: flex-start;
    width: auto;
}

.headerMenuItemText {
    margin: 0 0 0 8px;
}

.headerIcon {
    margin: auto auto auto 20px;
}

.logo {
    margin: auto;
}

.link {
    align-self: center;
    text-decoration: none;
    transition: opacity 0.5ms;
}

.link:hover {
    opacity: 0.7;
}
